include classpath("application.conf")

# Specify any custom config here. For example
# whisk {
#   metrics {
#     prometheus-enabled = true
#   }
# }

whisk {
  metrics {
    kamon-enabled = true
    kamon-tags-enabled = true
    prometheus-enabled = true
  }
}
